<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>87856557870-uifbj7tevsn7a47t86h0qbk4ulsvag68.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.87856557870-uifbj7tevsn7a47t86h0qbk4ulsvag68</string>
	<key>API_KEY</key>
	<string>AIzaSyDUBH0DfgJLHpmMsuDla9cW3DndyEslBps</string>
	<key>GCM_SENDER_ID</key>
	<string>87856557870</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>MDB.MDB-Socials</string>
	<key>PROJECT_ID</key>
	<string>mdb-socials-b7903</string>
	<key>STORAGE_BUCKET</key>
	<string>mdb-socials-b7903.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:87856557870:ios:7e5858871f39cf4b</string>
	<key>DATABASE_URL</key>
	<string>https://mdb-socials-b7903.firebaseio.com</string>
</dict>
</plist>